@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

.swiper {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}

.swiper-wrapper {
  /* border: 1px solid violet; */
  padding: 1.5rem 0;
}

.swiper-slide {
  text-align: center;
  color: #3e4958;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3e4958;
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  width: fit-content !important;
  font-size: 0.9rem;
}

.swiper-slide:hover {
  background-color: #5e81f4;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(-8px);
  transition: transform 0.3s ease;
  border: 0;
  color: white;
}

.swiper-slide.on {
  background-color: #5e81f4;
  border: 0;
  color: white;
}

html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: -1.25px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  /* border: 1px solid blue; */
}

.headerWrap {
  max-width: 1400px;
  width: 80%;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  position: relative;
  align-items: center;
  gap: 0.8rem;
  padding-left: 0.5rem;
}

h1 a {
  /* border: 1px solid red; */
  display: flex;
}

h1 a > img {
  width: 50px;
  height: 50px;
  margin-left: 0.5rem;
  /* border: 1px solid blue; */
  transition: transform 0.5s ease;
}

.rotate {
  transform: rotate(90deg);
}

.menuBtn {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.menuBtn > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menuAll {
  /* border: 1px solid blue; */
  position: absolute;
  left: 15px;
  bottom: -582px;
  display: none;
  gap: 0.8rem;
  flex-direction: column;
  z-index: 9999;
}

.menuAll.show {
  display: flex;
}

.menuAll-btn {
  text-align: center;
  color: #3e4958;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  /* width: fit-content !important; */
  font-size: 0.9rem;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.3);
}

.menuAll-btn:hover {
  background-color: #5e81f4;
  border: 0;
  color: white;
}

.menuAll-btn.on {
  background-color: #5e81f4;
  border: 0;
  color: white;
}

main {
  /* border: 1px solid red; */
}

.wrap {
  max-width: 1400px;
  width: 80%;
  margin: auto;
  padding: 0.5rem;
}

.sec1 {
  /* border: 1px solid red; */
  display: flex;
  gap: 2rem;
  margin-top: 30px;
}

.inputArea {
  /* border: 1px solid blue; */
  width: 40%;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.itemWrap {
  border: 1px solid #d3d3d3;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.itemWrap > select {
  border: none;
  color: #3e4958;
  padding: 0.8rem 1rem;
  font-size: 0.9rem;
}

.itemWrap > input {
  border: none;
  outline: none;
  width: 80%;
  padding-left: 1.5rem;
  color: #3e4958;
  font-size: 0.9rem;
}

.itemWrap > button {
  border: none;
  background-color: #5e81f4;
  padding: 0.8rem 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
}

.itemWrap > button > img {
  width: 26px;
  height: 26px;
}

.title {
  /* border: 1px solid blue; */
  width: 60%;
}

.title h2 {
  text-align: right;
  font-weight: 400;
}

.point {
  font-weight: 600;
  color: #5e81f4;
}

.sec2 {
  /* border: 1px solid red; */
  display: flex;
  gap: 1rem;
  margin-top: 30px;
}

.list {
  /* border: 1px solid blue; */
  width: 40%;
  overflow-y: scroll;
  height: 70vh;
  padding: 0.2rem 2rem 0 0.5rem;
}

.list::-webkit-scrollbar {
  /* 스크롤바의 너비 */
  width: 10px;
}
.list::-webkit-scrollbar-thumb {
  /* 스크롤바의 길이 */
  height: 10%;
  /* 스크롤바의 색상 */
  background: #d9d9d9;
  border-radius: 10px;
}

.list::-webkit-scrollbar-track {
  /*스크롤바 뒷 배경 색상*/
  background: white;
  border-radius: 10px;
}

.map {
  /* border: 1px solid blue; */
  width: 60%;
  height: 70vh;
}

.map > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.serviceItem {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  cursor: pointer;
}

.serviceItem:hover {
  background-color: rgba(94, 129, 244, 0.1);
}

.thumnailWrap {
  width: 45%;
  height: 170px;
}

.thumnailWrap > img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.serviceDetailWrap {
  width: 55%;
  padding: 0.2rem 1rem 1rem 1rem;
  height: 170px;
  position: relative;
  /* border: 1px solid red; */
}

.serviceTitle {
  font-size: 1.2rem;
  font-weight: 500;
}

.age {
  font-size: 13px;
  color: #666666;
}
.loca {
  font-size: 12px;
  color: #666666;
}
.day {
  font-size: 12px;
  color: #666666;
}

.detail {
  padding-bottom: 0.5rem;
  position: absolute;
  bottom: 0;
}

.userWrap {
  display: flex;
  margin-bottom: 0.3rem;
}

.locaWrap {
  display: flex;
  margin-bottom: 0.3rem;
}

.dayWrap {
  display: flex;
}

.iconWrap {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.iconWrap > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.arrow {
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.arrow > img {
  width: 100%;
  height: 100%;
}

.page {
  border: 1px solid #3e4958;
  border-radius: 2rem;
  padding: 0 0.5rem;
  color: #3e4958;
  font-size: 1.1rem;
  background-color: white;
  cursor: pointer;
}

.page.on {
  background-color: #5e81f4;
  border: none;
  color: white;
}

.hamber-menu {
  display: none;
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
}
.hamber-menu.show {
  display: block;
}
.closeWrap {
  /* border: 1px solid blue; */
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: right;
}
.close-img-btn {
  /* border: 1px solid red; */
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.close-img-btn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hamber-menu-all {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: fixed; /* 화면에서 스크롤과 무관하게 고정 */
  top: 50%; /* 수직으로 중앙에 배치 */
  left: 50%; /* 수평으로 중앙에 배치 */
  transform: translate(-50%, -50%); /* 중앙에서 정확히 가운데로 이동 */
}
.hamber-menu-btn {
  text-align: center;
  color: #3e4958;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  width: 100%;
  font-size: 0.9rem;
  border: 1px solid #3e4958;
}
.hamber-menu-btn:hover {
  background-color: #5e81f4;
  border: 0;
  color: white;
}
.hamber-menu-btn.on {
  background-color: #5e81f4;
  border: 0;
  color: white;
}

/* 768px 이하 */

@media (max-width: 768px) {
  .headerWrap {
    max-width: 768px;
    width: 90%;
    margin: auto;
    padding: 1.5rem 0 0 0.5rem;
  }
  h1 a > img {
    margin-left: 0.5rem;
    /* border: 1px solid red; */
  }
  .menuBtn {
    display: block;
    position: absolute;
    right: 0;
    padding-right: 0.5rem;
  }
  .wrap {
    max-width: 768px;
    width: 90%;
    margin: auto;
  }
  .sec1 {
    flex-direction: column-reverse;
  }
  .inputArea {
    width: 100%;
    padding-right: 0.5rem;
  }
  .title {
    width: 100%;
  }
  .title h2 {
    text-align: left;
    font-size: 1.4rem;
    padding-left: 0.5rem;
    padding-right: 0.2rem;
  }
  .sec2 {
    display: block;
  }
  .list {
    width: 100%;
    overflow-y: hidden;
    /* border: 1px solid red; */
    padding-right: 0.5rem;
    overflow-y: scroll;
  }
  .list::-webkit-scrollbar {
    /* 스크롤바의 너비 */
    display: none;
  }
  .map {
    width: 100%;
    display: none;
  }
  .swiper {
    display: none !important;
  }
  .serviceItem {
    display: block;
  }
  .thumnailWrap {
    width: 100%;
  }
  .serviceTitle {
    padding-top: 1rem;
  }
  .serviceDetailWrap {
    width: 100%;
  }
  .detail {
    padding-top: 1.5rem;
  }
}
